/* complete_true 옆에 버튼 생성 */
.complete_true::before {
  display: inline-block;
  content: "Completed";
  color: white;
  background-color: #3a7fff;
  font-size: 20px;
  padding: 20px 20px;
  border-radius: 3px;
  line-height: 10px;
  margin-right: 8px;
}

/* placeholder값을 채우기 위해서 input bar 확장 */
input {
  width : 19%
}